SSID=HelloWorld
INTERFACE=wlan0
CHANNEL=6
FREQUENCY=2.4
BSSID=ab:12:cb:33:af:3b
DRIVER=
SHOWCLIENTS=1
USETYPE=

##Reference key:
##
##
## SSID WiFi network name
## Interface - the wireless interface you wish to use to broadcast
## Broadcast channel
## Frequency - 2.4 or 5
## BSSID - spoof the base station identifier for your access point
## Specify driver for WLAN NIC (not often necessary)
## Show Clients 1 for yes and 0 for no (spawns a separate terminal window tailing the DHCP server log file)
## Usetype - Wireless IEEE standard AC / N / BG etc.
